#text {
    height: 50px !important;
}

#form {
    height: 320px !important;
}

.password-choose-btn {
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 340px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

#passwords {
    height: 260px;
    overflow-y: auto;
}

#cancel-container {
    height: 60px;
    padding-top: 10px;
}
