/**
 * @copyright Tobia De Koninck
 * @copyright Robin Jadoul
 *
 * This file is part of Keywi.
 * Keywi is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Keywi is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with Keywi.  If not, see <http://www.gnu.org/licenses/>.
 */

#text {
    height: 50px !important;
}

#form {
    height: 320px !important;
}

.password-choose-btn {
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 340px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

#passwords {
    height: 260px;
    overflow-y: auto;
}

#cancel-container {
    height: 60px;
    padding-top: 10px;
}
