body, html {
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    background-color: #c53835;
    margin: 0px;
    padding: 15px;
    text-align: center;
    line-height: 100px;
}

header h1 {
    margin: 0;
font-size: 17pt;
    color: #ffffff;;
}

footer {
    height: 100px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #50514f;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    font-style: italic;
}

#container {
    margin: 0;
    padding: 15px;
    background-color: #DDDDDD;
    height: 400px;
}

#pass, #pass1, #pass2, #submit {
    width: 350px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
